

@media screen and (max-width: 767px){
    .main-up {
        background: url(./../../assets/images/Sign\ up.jpg);
        background-position: center;
        background-size: cover ;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }  
    /* LA permier section */
     .left-section-up{
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
     }
     .join-us-up p{
        font-size: 1.4rem;
        color: white;
     }

     
     /*la 2eme section */ 
     .right-section-up{
        border-radius: 25px 25px 0px 0px;
        padding: 20px;
        align-items: center;
        align-self: stretch;
        padding-top: 30px;
        background: #D4F2F4;
        flex-grow: 4;
     }
     .right-section-up h1{
        font-size: 1.8rem;
        color: #04445F;
        
    }
    .grid-container-up {
        margin: 0px 15px;
        margin-top: 8%;
        display: grid; 
        grid-template-columns: repeat(1, 1fr); /* Three equal-width columns */
        grid-gap: 8% ; 
        justify-content: center;
        align-items: center;
        margin-bottom: 110px;

    }
    .grid-up {
        text-align: center;
    }
   
    .item6-up button {
        width: 50%;
        padding: 13px 10px;
        margin-bottom: 50px;
        background-color: #04445F; /* Couleur de fond du bouton */
        color: white; /* Couleur du texte du bouton */
        border: 10px; 
        border-radius: 5px; /* Ajouter des coins arrondis */
        font-size: 16px; /* Taille de la police */
        cursor: pointer; /* Ajouter un pointeur au survol du bouton */
        transition: background-color 0.3s ease; /* Ajouter une transition sur la couleur de fond */
    }
    
    .item6-up button:hover {
        background-color: #189AB4; /* Changement de couleur de fond au survol */
    }
    .question-up{
        width: 100%;
        display: absolute;
        text-align: center;
    }
    .question-up p{
        color: #189AB4;
        font-size: 1.5rem;
    }
    .question-up p a{
      color: #04445F;
    }
    
}
@media screen and (min-width: 768px){
    .main-up {
        background: url(./../../assets/images/Sign\ up.jpg);
        background-position: center;
        background-size: cover ;
        min-height: 100vh;
        display: flex;
        flex-direction: row;
    }
    .left-section-up{
        padding: 15px;
        flex-grow: 1.5;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    
    }
    .right-section-up{
        border-radius: 25px 0px 0px 25px;
        padding: 40px;
        padding-top: 60px;
        background: #D4F2F4;
        flex-grow: 3;
        display: flex;
        flex-direction: column;
        
    }
    .right-section-up h1{
        font-size: 3rem;
        color: #04445F;
        
    }
    .join-us-up{
       flex: 1;
       display: flex;
       align-items: center;
    }
    .join-us-up p{
        font-size: 2rem;
        color: white;
    }
    .grid-container-up {
        margin-top: 8%;
        display: grid; 
        margin-bottom: 100px;
        grid-template-columns: repeat(2, 1fr); /* Three equal-width columns */
        grid-gap: 15% 4%;
        justify-content: center;
        align-items: center;
    }
    .grid-up {
        
        
        text-align: center;
        
    }
    
    .item3-up{
        grid-row-start: 2;
        grid-column: span 2;
      
    }
    .item4-up{
          grid-row-start: 3;
    }
     .item5-up{
        grid-row-start: 3;
     
     }
     .item6-up{
            /* Ajoutez ces propriétés pour centrer le bouton */
          grid-column: span 2;
            text-align: center;     
     }
     .item6-up button {
        width: 25%;
        padding: 13px 10px;
        background-color: #04445F; /* Couleur de fond du bouton */
        color: white; /* Couleur du texte du bouton */
        border: 10px; 
        border-radius: 5px; /* Ajouter des coins arrondis */
        font-size: 16px; /* Taille de la police */
        cursor: pointer; /* Ajouter un pointeur au survol du bouton */
        transition: background-color 0.3s ease; /* Ajouter une transition sur la couleur de fond */
    }
    
    .item6-up button:hover {
        background-color: #189AB4; /* Changement de couleur de fond au survol */
    }
    .question-up{
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }
    .question-up p{
        color: #189AB4;
        font-size: 1.5rem;
    }
    .question-up p a{
      color: #04445F;
    }
}