
@media screen and (min-width : 769px) {
    .main-for{
        background: url(./../../assets/images/Sign\ up.jpg);
        background-position: center;
        background-size: cover ;
        min-height: 100vh;
        display: flex;
        flex-direction: row;
    }
    .left-section-for{
        padding: 15px;
        flex-grow: 1.5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        position: relative;
    
    } .join-us-for{
      flex: 1;
      display: flex;
      align-items: center;
    }
    .join-us-for p{
       font-size: 2rem;
       color: white;
    }
    .right-section-for{
            display: flex;
            
            flex-direction: column;
            border-radius: 25px 0px 0px 25px;
            align-items: center;
            align-self: stretch;
            padding-top: 7%;
            background: #D4F2F4;
            flex-grow: 4;
    }
    .right-section-for h1{
        font-size: 2.3rem;
        color: #04445F;
    }
    
    .flex-container-for{
       
        display: flex;
        flex-direction: column; 
         align-items: center;
        min-height: 65%;
        justify-content: space-evenly;
        position: relative;
    }
    .flex-for{
        align-items: center;
       
    }
    p{
        color: #04445F;
    }
    .item4 p {
        font-size: 1.4rem;
        color: #189AB4;
    }
    .item4-for a {
        color: #04445F;
    } 
    .item5-for{
        display: inline-block;
        width: 50%;
        align-items: center;
        
        text-align: center;
        position: absolute;
        bottom: 0;
    }
    .item5-for button{
        margin: 0px auto;
        padding: 8px 70px;
        background-color: #04445F; /* Couleur de fond du bouton */
        color: white; /* Couleur du texte du bouton */
        border: 10px; 
        border-radius: 5px; /* Ajouter des coins arrondis */
        font-size: 16px; /* Taille de la police */
        cursor: pointer; /* Ajouter un pointeur au survol du bouton */
        transition: background-color 0.3s ease; /* Ajouter une transition sur la couleur de fond */
    }
    
    .item5-for button:hover {
        background-color: #189AB4; /* Changement de couleur de fond au survol */
    }
}

/* pour le telephone */
@media screen and (max-width : 768px) {
    .main-for {
        background: url(./../../assets/images/Sign\ up.jpg);
        background-position: center;
        background-size: cover ;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }  
   /* LA permier section */
 .left-section-for{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
 }
 .join-us-for p{
    font-size: 1.4rem;
    color: white;
 }
 .right-section-for{
  border-radius: 25px 25px 0px 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  background: #D4F2F4;
  min-width: 100%;
  flex-grow: 4;
}  
.right-section-for h1{
  padding-top: 20px ;
  font-size: 1.8rem;
  color: #04445F;
  text-align: center;
}  
.flex-container-for{
       
    display: flex;
    flex-direction: column; 
     align-items: center;
    height: 70vh;
    justify-content: space-evenly;
    position: relative;
}
.flex-for{
    align-items: center;
   
}
p{
    color: #04445F;
}
.item4-for p {
    font-size: 1.4rem;
    color: #189AB4;
}
.item4-for a {
    color: #04445F;
} 

.item5-for button{
    margin: 0px auto;
    padding: 8px 40px;
    background-color: #04445F; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    border: 10px; 
    border-radius: 5px; /* Ajouter des coins arrondis */
    font-size: 16px; /* Taille de la police */
    cursor: pointer; /* Ajouter un pointeur au survol du bouton */
    transition: background-color 0.3s ease; /* Ajouter une transition sur la couleur de fond */
}

.item5 button:hover {
    background-color: #189AB4; /* Changement de couleur de fond au survol */
}




}